@import "tailwindcss";

:root {
  --point: #b99dcf;
  --background: #ffffff;
  --foreground: #222;
}

@theme inline {
  --color-point: var(--point);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}

section {
  overflow-x: clip;
}
